<header class="text-gray-600 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
            <span class="ml-3 text-xl">Pinacore</span>
        </a>
        {% if request.user.is_authenticated %}
        <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
            <a class="mr-5 hover:text-gray-900">
                {% if request.user.is_admin %}
                Admin
                {% elif request.user.is_agent %}
                Agent
                {% elif request.user.is_lead %}
                Lead
                {% endif %}
                <span class="font-bold">{{ request.user }}</span>
            </a>

            <a class="mr-5 hover:text-gray-900">Change Password</a>
            <!-- <a class="mr-5 hover:text-gray-900"></a> -->
            <a href="{% url 'logout' %}" class="mr-5 hover:text-gray-900">Logout</a>
        </nav>
        {% endif %}

    </div>
</header>